body{
  background-image: url(https://cdn.pixabay.com/photo/2016/01/27/15/25/space-1164579_960_720.png);
}
h1{
  color: blue;
  font-size: 700%;
  text-align: center;
}
p {color: blue;
  font-size: 500%;
  font-weight: bold;
  text-align: center;
  line-height: 200%;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

section{
  display: flex;
  justify-content: center;
  height: 600px;
  perspective: 400px;

}
.crawl{
    position: relative;
    transform-origin: 50% 100%;
    animation: crawl 60s linear;
}
@keyframes crawl {
    0% {
        top: 0;
        transform: rotateX(25deg) translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}
